.container {
  padding-left: 8px;
}

.param {
  display: flex;
  align-items: center;
  padding: 4px;
}

.label-input {
  text-align: left;
  margin-right: 12px;
  width: 64px;
}

.label-checkbox {
  margin-right: 4px;
}

.button {
  margin-right: 4px;
}
